/*Global*/
p{
	font-family: arial,sans-serif;
}
.black{
	font-size: 0.8em;
	margin: 8px 12px;
	
}
body{
	margin: 0;
}
#main1{
	width: 100%;
	position: relative;
	left: 30px;
}
#main{
	padding: 10px 15px 10px 25px;
	background: url("Black_Background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
}
a{
	text-decoration: none;
	font-family: arial,sans-serif;
	color: grey;
}
#main1,.logo1,.inbetween,.mbottom{
	display: inline-block;
	vertical-align: top;
}
.title{
	font-weight: bold;
	margin: 0;
	padding: 5px 10px; 
}
.bold{
	font-weight: bold;
}
#class{
	background-image: url("lightblack.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
/*Head*/
.logo,.hp1, #headip, .ul1{
	display: inline-block;
	vertical-align: top;
}

#head{
	width: 100%;
	position: relative;
}
#headip{
	width: 100%;
	background-image: url("background.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.logo{
	position: relative;
	left: 5%;
}
.hp1{
	width: 60%;
	position: relative;
	left: 50%;
	margin-top: 35px;
	margin-bottom: 0;
	font-weight: bold;
}
.ul1{
	width: 100%;
	padding-left: 10%;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 20px;
	background-image: url('background.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
.ul1 li{
	display: inline;
	list-style-type: none;
	list-style: inside;
	border-left: 3px groove white;
	padding: 0 15px 0 25px;
	margin: 0;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 0.8em;

}
.ul1 .lilast{
	padding-right: 25px;
	border-right: 3px groove white;
}
/*main 1st part*/
.warehouse,#class{
	display: inline-block;
	vertical-align: top;
}
.warehouse {
	width: 40%;
	height: 340px;
}
#class {
	width: 50%;
	margin-left: 20px;
	padding: 0;
}
#class1{
	font-size: 1.0em;
	font-family: arial,sans-serif;
	height: 280px;
}

#class1 .white1, #class1 h1{
	color: white;
}
#class1 h1{
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.1em;
}
#class1 .white1{
	margin-left: 30px;
	margin-right: 30px;
	font-size: 0.9em;
}

#class .title{
	background: yellow;
}
/*inbetween*/
.logo1{
	width: 70px;
	height: 30px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom:20px;
}
.inbetween{
	width:70%;
	font-size: 0.5em;
	color: yellow;
	margin-top: 28px;
}
/*lower part in main*/
#mbottom{
	width: 100%;
	position: relative;
	left: 20px;

}
#automotive,#commercial,#industrial,#diesel{
	display: inline-block;
	vertical-align: top;
}
#automotive{
	/*height: 100px;*/
	width: 22%;
	position: relative;
	background: white;
	height: 288px;
}
#automotive .title, #commercial .title, #industrial .title, #diesel .title{
	background-color: yellow;
}
#automotive img, #commercial img,#industrial img, #diesel img{
	width: 100%;
}
#automotive .read, #commercial .read, #industrial .read, #diesel .read{
	width: 25%;
	position: absolute;
	top: 90%;
	left: 70%;
	height: 19px;
}
#commercial{
	/*height: 100px;*/
	width: 22%;
	height: 288px;
	position: relative;
	background: white;
	margin: 0 0 0 20px;
}

#industrial{
	/*height: 100px;*/
	width: 22%;
	margin: 0 20px;
	position: relative;
	background: white;
	height: 288px;
}
#industrial img{
	height: 128px;
}
#diesel{
	height: 288px;
	width: 22%;
	position: relative;
	background: white;
}